*{
  direction: rtl;
}

.list-group-formset label {
  display: none;
}

.list-group-formset .form-group,
.list-group-formset .invalid-feedback {
  margin-bottom: 0;
}

.list-group-formset .form-control {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}


.col-12{
  margin-left: 250px;
  background-color: whitesmoke;

}
.form{
  background-image: url('images/sign.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  background-position: top;
  text-align: center;
  position: absolute;
    }

main{
  height: 100vh;
  background:url("images/old.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;


}
.wrapper{
  width: 350px;
  height: 500px;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
}
.wrapper:before{
  width: 400px;
  height: 550px;
  content: "";
  position: absolute;
  top:-25px;
  left:-25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);



}
form.login{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.input{
  background: 0;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  margin: 200px 0;
  padding-bottom: 10px;
  color:rgba(255,255,255,0.8);
  font-size: 18px;


}
input[type='submit']{
  border: none;
  border-radius: 8px;
  background: red;
  color: white;
  height: 60px;
  width: 80px;
  cursor: pointer;
}

img.avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#header ul.menu {
    list-style:none;
    float:right;
    margin:0;
    padding:0;
}
#header ul.menu li {
    float:right;
    padding:4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color:greenyellow;
    font-weight:bold;
}

#header a {
    color:#f3f7cc;
}
#header a:hover {
    color:#fff;
}